<footer class="page-footer">
    <div class="text-center">
        <div class="row footer-row justify-content-center">
        </div>
    </div>
    <div class="footer-bottom text-center"> © 2022 Petros</div>
</footer>

