<nav class="navbar fixed-top navbar-expand-sm change">
    <div class="container connav">
        <div class="row nav-items">
            <div class="col">
                <a class="title" [routerLink]="['../home']" alt="Home">
                    <h1>Sports Ranking</h1>
                </a>
            </div>
            <div class="col">
                <div *ngIf="darkmode === false">
                <button class="darkmode" (click)="DarkMode()">
                    <span class="material-icons moon">
                        nightlight_round
                    </span>
                    Dark Mode
                </button>
                </div>
                <div *ngIf="darkmode === true">
                <button class="lightmode" (click)="DarkMode()">
                    <span class="material-icons light">
                        light_mode
                    </span>
                    Light Mode
                </button>
                </div>
            </div>
        </div>
    </div>
</nav>

