.navbar {
    height: 60px;
    transition: 0.5s;
    box-shadow: #cccccc 0px 25px 20px -20px;
    background-color: white;
}

.darkmode {
    line-height: 2;
    border-radius: 20px;
    transition: 0.1s;
    margin-top: 10px;
    float: right;
    color: black;
    background: inherit;
    border: none;
    font-weight: bold;
}

.nav-items {
    width: 100%;
}

.moon {
    transition: 0.1s;
    top: 6px;
    position: relative;
    margin-right: 5px;
}

.title {
    text-decoration: none;
    color: black;
    font-family: Cursive;
}

.change-nav {
    color: white;
    background: black;
}

.lightmode {
    line-height: 2;
    border-radius: 20px;
    transition: 0.1s;
    margin-top: 10px;
    float: right;
    color: white;
    background: inherit;
    border: none;
    font-weight: bold;
}

.light {
    transition: 0.1s;
    top: 6px;
    position: relative;
    margin-right: 5px;

}

@media (max-width: 767px) {
    .navbar {
        height: 90px;
    }
}

@media (max-width: 476px) {
   
    .darkmode, .lightmode {
        margin-top: 20px;
    }

}


