.teams {
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-top: 15px;
    display: flex;
}

.ranking-row {
    margin:2rem;
}

.rank-det {
    font-weight: bold;
}

.rank-details {
    margin-left: 10px;
}

.team-badge {
    width: 40px;
    height: 40px;
    position: relative;
    bottom: 8px;
}

.ranking {
    margin-left: 5px;
    margin-right: 15px;
}

.team-name {
  margin-left: 15px;
  margin-right: 30px;
}

.team-win {
    color: green;
}

.team-loss {
    color: red;
}

.team-draw {
    color: gray;
}

.league-badge {
    max-width: 300px;
}

.description {
    margin-top: 10px;
}

@media (max-width: 1000px) {
    .teams {
        display: initial;
    }
}


