<div class="container ranking-con">
    <div *ngIf="league" class="row justify-content-center">
        <h2 class="text-center">{{league.strLeague}}</h2>
        <img src="{{league.strBadge}}" rel="preload" alt="League Badge" class="league-badge">
        <h4 class="description text-center">Description</h4>
        <p class="descri text-center">{{league.strDescriptionEN}}</p>

    </div>
    <h4 class="text-center">Ranking</h4>

    <div *ngIf="all_teams.length === 0">
        <h5 class="text-center">Sorry But No Ranking Available</h5>
    </div>
    <div class="row ranking-row justify-content-center" *ngFor="let team of all_teams">
        <div class="col-md-8 ranking-col teams">
                <p class="rank-det ranking">{{team.intRank}}.</p>

                <img rel="preload" src="{{team.strTeamBadge}}" alt="Team Badge" class="team-badge"> 
                <p class="rank-det team-name">{{team.strTeam}}</p>
                <p class="rank-details team-form">Form: <strong>{{team.strForm}}</strong></p>
                <p class="rank-details team-played">Played: <strong>{{team.intPlayed}}</strong></p>
                <p class="rank-details team-win">Wins: <strong>{{team.intWin}}</strong></p>
                <p class="rank-details team-loss">Loss: <strong>{{team.intLoss}}</strong></p>
                <p class="rank-details team-draw">Draw: <strong>{{team.intDraw}}</strong></p>
        </div>
    </div>
</div>
