<div class="container home-con">
    <div class="row row-search">
        <div class="col col-search">
            <mat-form-field class="example-form-field" appearance="fill">
  <mat-label>Search League</mat-label>
  <input matInput type="text" [(ngModel)]="search_val" (input)="search(search_val)">
</mat-form-field>

        </div>
        <div class="col sportsel">
        <mat-form-field class="dropdown" appearance="fill">
            <mat-label class="selectheader">Select Sport</mat-label>
            <mat-select [(value)]="selectedSport" (selectionChange)="SelectSport()" [formControl]="sportControl">
                <mat-option>
                    <ngx-mat-select-search
                       placeholderLabel="Find Sport..."
                       noEntriesFoundLabel="No matching sport found"
                       [formControl]="sportFilteringCtrl">
                    </ngx-mat-select-search>
                </mat-option>

                <mat-option *ngFor="let sport of filteredSports" [value]="sport.idSport">
                    {{sport.strSport}}
                </mat-option>             
            </mat-select>
        </mat-form-field>
        </div>
    </div>

    <div class="row justify-content-center home-row">
        <div class="col-md-3 home-col" *ngFor="let league of leagues | searchFilter: search_val;">
            <div class="card">
                <img class="card-img-top img-fluid" src="{{league.strBadge}}" rel="preload" alt="Football League">
                <div class="card-body">
                    <h5 class="card-title text-center">{{league.strLeague}}</h5>
                    <div class="row">
                        <p class="col-md-6 card_detail">Year Formed: {{league.intFormedYear}}</p>
                        <p class="col-md-6 card_detail gender">
                        Gender: {{league.strGender}}
                        </p>
                    </div>
                    <p class="sportsite text-center">Official Website:<br>
                    <a class="text-center websites" (click)="NavigateTo(league.strWebsite)" target="_blank">{{league.strWebsite}}</a>
                    </p>
                    <p class="text-center">Description</p>
                    <div class="text-con">
                        <p class="card-description">
                        {{league.strDescriptionEN}}
                        </p>

                    </div>

                        <a [routerLink]="['../ranking']" class="btn show-more text-center" (click)="GoToRanking(league.idLeague)">Show Ranking ...</a>
                </div>
            </div>
        </div>
    </div>
</div>
