.card-img-top {
    width: 90%;
    margin: 1rem;
}

.home-col {
    margin-bottom: 20px;
}

.sportsel {
    display: flex;
    justify-content: flex-end;
}

.x-btn {
    border: none;
    background: inherit;
}

.card {
    box-shadow: rgba(38, 57, 77) 0px 3px 8px;
    transition: 0.3s;
    border-radius: 12px;
    background: inherit;
}

.card:hover {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.card-body {
}

.card_detail {
    font-size: 12px;
}

.gender {
    text-align: right;
}

.sportsite {
    height: 72px;
}

.websites {
    z-index: 20;
    position: relative;
    cursor: pointer;
}

.text-con {
    max-height: 120px;
    overflow: hidden;
    text-overflow: ellipsis " [..]";
}

.card-description {
}

.card-description:before {
    content:'';
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    border-radius: 12px;
    top:0;
    background:linear-gradient(transparent 500px, #e6e6e6);
}

.show-more {
    justify-content: center;
    display: flex;
    position: relative;
    color: black;
    margin: 10px;
    background: white;
    font-weight: bold;
    border: 1px solid gray;
    border-radius:20px;
}

:host ::ng-deep .mat-form-field-flex {
    background:#e6e6e6;
    border-radius: 20px;
}

@media (max-width:o767px) {
    .col-search {
        max-width: 190px;
    }


}

