/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;
}

body { 
    margin: 0; 
    top: 120px;
    position: relative;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    transition: 0.5s;
}

.change-mode {
    background: black;
    color: white;
}

